.header{
	min-height:600px;
	width: 100%;
    height: 100%;
	position:relative;
	display:table;
	
	.container{
		display:table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
}

/* background
---------------------------------------- */
#background {
	@include transform(scale(1.1)!important); 
}

.background {
  padding: 0px;
  position: absolute;
  //position: fixed !important;
  overflow:hidden;
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 100% !important;
  z-index: -1;
  	//transform: translate3d(0px, 0px, 0px)scale(1.1)!important;
    //transform-style: preserve-3d;
  backface-visibility: hidden;
  .image {
    background-image: url(../img/bg.png);
    background-color: #dddddd;
    background-repeat: no-repeat;
    background-size: cover;
    //background-attachment: fixed; dont-work on ie
    background-position: center center;
    width: 100%;
    height: 100%;
  }
  .solid {
    background-color: #131313;
    width: 100%;
    height: 100%;
	// if you want remove pattenr please romove bottom lines
	background-image: url(../img/bg.png);
    background-repeat: repeat;
    background-size: contain;
	background-position: center center;
  }
  .gradient {
    width: 100%;
    height: 100%;
	&:after{
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:5;
		background-color: #af3bfb;
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(88,86,214,0.7)), color-stop(100%,rgba(198,68,252,0.7)));
		background: -webkit-linear-gradient(-45deg, rgba(88,86,214,0.7) 0%,rgba(198,68,252,0.7) 100%);
		background: -o-linear-gradient(-45deg, rgba(88,86,214,0.7) 0%,rgba(198,68,252,0.7) 100%);
		background: -ms-linear-gradient(-45deg, rgba(88,86,214,0.7) 0%,rgba(198,68,252,0.7) 100%);
		background: linear-gradient(135deg, rgba(88,86,214,0.7) 0%,rgba(198,68,252,0.7) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b35856d6', endColorstr='#b3c644fc',GradientType=1 );
		@include opacity(0.9);
		//background-size: 900% 900%;
		//background-image: -moz-linear-gradient(-45deg,  #af3bfb 0%, #f855c8 25%, #01dbfe 50%, #1653f3 75%, #a462d9 100%);
		//background-image: -webkit-linear-gradient(-45deg,  #af3bfb 0%,#f855c8 25%,#01dbfe 50%,#1653f3 75%,#a462d9 100%);
		//background-image: linear-gradient(135deg, #af3bfb 21%,#01ddff 50%,#1368f4 80%);;
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af3bfb', endColorstr='#a462d9',GradientType=1 );
		//	@include animation(gradient 30s ease infinite);
	}
	//@include keyframes(gradient) {
	// 0%{background-position:0% 50%}
    // 50%{background-position:100% 50%}
    //  100%{background-position:0% 50%}
	//}
  }
  .video,& video{
		position: fixed!important;
		top: 50%;
		left: 50%;
		overflow: hidden;
		@include transform(translateX(-50%) translateY(-50%)); 
		//width: 100%;
		//height: auto;
		z-index: -1;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		background: url(../img/bg.png) no-repeat;
		background-size: cover; 
   }
   .map,.rain {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
   }
   .rain img {
		display: none;
	}
   .snow {
		z-index: 0;
		background-image: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 100%;
	}
	.star {
		background: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		//background-attachment: fixed;
		background-position: center center;
	}
	.magnet {
		background: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		//background-attachment: fixed;
		background-position: center center;
	}
	.bubble {
		background: url(../img/bg.png) !important;
		background-repeat: no-repeat;
		background-size: cover !important;
		//background-attachment: fixed;
		background-position: center center;
		position: fixed !important;
		width: 100%;
		height: 100%;
		bubble {
			border: 1px solid rgba(255, 255, 255, 0.1);
			border-radius: 500%;
			margin: 0 auto;
			@include box-shadow(0px 0px 10px 10px #ffffff, inset 0px 0px 10px 10px #ffffff);
			@include opacity(0.3);
			border: 0px;
			z-index: 1;
		}
	}
	#youtube {
		position: fixed;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -1;
		background: none;
		background: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		//background-attachment: fixed;
		background-position: center center;
	}
	.slider {
		z-index: -1;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		width: 100%;
		position: relative;
		background: #f5f5f5;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		.slides {
			background: transparent none scroll no-repeat center top;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			min-height: 100%;
			overflow: hidden;
			display: table;
			width: 100%;
			z-index: -1;
			@include opacity(0);
			> img {
				position: absolute;
				width: 100%;
				height: auto;
				min-height: 100%;
				overflow: hidden;
				display: none;
			}
		}
	}
	.zoom {
		position: relative;
		overflow: hidden;
		width: 100%;
		height:100%;
		&.fullscreen {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
		img {
			display: none;
		}
		.slide {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			@include transform(translateZ(0));
			@include transform-origin(center);
		}
	}
	.origami canvas {
		display: block;
		padding: 0px;
		margin: 0px;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.cloud {
		background: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		//background-attachment: fixed;
		background-position: center center;
		width: 100%;
		height: 100%;
	}
}

/* VIDEO OPTIONS */
.volume-button {
  font-size: 18px;
  position: absolute;
  z-index: 25;
  top: 50px;
  left: 50px;
  cursor: pointer;
  color: #fff;
}

.stop-button {
  font-size: 18px;
  position: absolute;
  z-index: 25;
  top: 80px;
  left: 50px;
  cursor: pointer;
  color: #fff;
}