// Google Font Name 
$font-family: Montserrat;

/* Google Font
---------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=#{$font-family}");

// Font style
$main-font-size:14px;
$main-font-color: #ffffff;

// Colors
$primary:#0076FF;
$secondary:#5751D9;
$white:#ffffff;
$black:#181723;
$muted:#CECDD2;
$success:#44DB5E;
$info:#54C7FC;
$warning:#FFCD00;
$danger:#FF3824;
$transparent:transparent;

// Transation in more elements
$public-transation:all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);